.footer {
	padding-top: 130px;
	@include mobile(1024px) {
		padding-top: 50px;
	}
	&__row {
		display: flex;
		flex-wrap: wrap;
		padding-bottom: 90px;
		border-bottom: 1px solid rgba(255, 255, 255, 0.6);
	}
	&-list {
		&__title {
			font-family: "ChocolateBox";
			font-style: normal;
			font-weight: normal;
			font-size: 24px;
			line-height: 14px;
			color: $color-orange;
		}
		&__item {
			display: flex;
			align-items: center;
			margin-bottom: 15px;
			svg {
				margin-right: 10px;
			}
		}
		&__link {
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 24px;
			color: $color-white;
		}
		&__social {
			display: flex;
			li {
				margin-right: 40px;
			}
			img {
				max-width: 24px;
			}
		}
	}
	&__copy {
		padding: 20px 0;
		text-align: center;
		color: $color-white;
	}
}
